/**
 * This file contains support styles for demo pages
 */

html, body, h1, h2, h3
  margin 0
  padding 0
  font-family Roboto, sans-serif

body
  padding-bottom 50px

h1, h2, h3, h4
  font-weight 300
  margin-top 35px

.header
  text-align center
  margin 25px 0
  font-size 40px


$row-colors = #eceff1
$col-colors = #ffab91 #bbdefb #f0f4c3 #b39ddb #b2ebf2 #ffe0b2 #b2dfdb

.row.demo
  margin-top 5px

  for $color, $index in $row-colors
    &.color-{$index}
      background $color
      border 2px solid darken($color, 25%)

  &.layout-example
    > div
      background none
      border 0
    .row.demo
      margin-top 0

  > div
    background #90caf9
    text-align center
    box-sizing border-box
    border 2px solid #1976d2
    min-height 40px
    line-height 40px

    for $color, $index in $col-colors
      &.color-{$index}
        background $color
        border 2px solid darken($color, 25%)


  &.v-aligns
    height 165px

.sm-padding
  padding 5px

