doctype html
head
  title Flexbox Based Grids
  meta(content='width=device-width,initial-scale=1,user-scalable=no', name='viewport')
  link(href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400&subset=cyrillic,latin', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='flexbox-grid.css', media='all')
  link(rel='stylesheet', type='text/css', href='styles.css', media='all')
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script.
    function init() {
      var $window = $(window);
      var topEl = null;
      var topOffset = 0;

      function saveOffset() {
        $('h1, h2, h3, h4').each(function (index, el) {
          var $el = $(el);
          topOffset = $el.position.top - $window.scrollTop;
          if (topOffset >= 0) {
            topEl = $el;
            return false;
          }
        });
      }

      $window.on('scroll', function () {
        saveOffset();
      });

      $window.on('resize', function () {
        var offset = topOffset;
        if (topEl) {
          offset = topEl.position.top - topOffset;
        }

        $window.scrollTop(offset);
        saveOffset();
      });

      saveOffset();
    }

    $(function () {
      init();

      $('.row.demo').each(function (i, el) {
        var $el = $(el);
        var html = $el.find('.col').html();
        var indent = Math.max(html.indexOf('<') - 1, 0);
        html = html.slice(1).replace(new RegExp('\\s{'+ indent +'}<', 'g'), '<').replace(/\s*$/g, '').replace(/color\-\d+/g, '').replace(/("\s|\s")/g, '"');
        var code = $('<div class="col-12 code-popup"><a class="show-code">[Show code]</a><pre><code class="html">' + html + '</code></pre></div>');
        code.prependTo($el);
      });

      $('body').on('click', '.code-popup > .show-code', function (e) {
        var $el = $(e.target).closest('.code-popup');
        if ($el.is('.shown')) {
          $el.removeClass('shown');
        } else {
          $('.code-popup').removeClass('shown');
          $el.addClass('shown');
        }
      });

      $('pre code').each(function (i, block) {
        $(block).text($(block).html());
        hljs.highlightBlock(block);
      });
    });
html
  body
    a(href="https://github.com/rzcoder/flexbox-grid")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png")

    .row.row-center
      .col-md-9.col-11
        h1.header Flexbox Grid System

        h2 Percentage cols
        p By default you have 12 different sizing columns
        .row(class="demo")
          .col
            .row
              - var n = 0
              while n++ < 12
                .col-1 .col-1
            .row
              .col-6(class="color-4") .col-6
              .col-6(class="color-4") .col-6
            .row
              .col-12(class="color-5") .col-12

        h2 Fixed and grow cols
        p By default you have 12 sizes for .col-grow (1 to 12)
        .row(class="demo")
          .col
            .row
              .col .col
              .col .col
              .col .col
            .row.row-nowrap
              .col-fixed(style="flex-basis: 200px", class="color-5") .col-fixed with flex-basis 200px
              .col-grow(class="color-4") .col-grow-1 or .col-grow or just .col
            .row
              .col-12.col-md-3(class="color-2") .col-12.col-md-3
              .col-grow-3(class="color-3") .col-grow-3
              .col-grow-6(class="color-5") .col-grow-6

        h2 Offsets
        .row(class="demo")
          .col
            .row(class="color-0")
              .col-3.col-offset-3(class="color-1") .col-3.col-offset-3
              .col-3.col-offset-1(class="color-2") .col-3.col-offset-1
            .row(class="color-0")
              .col-3.col-offset-4(class="color-1") .col-3.col-offset-4
              .col-3.col-offset-n7(class="color-2") .col-3.col-offset-n7 (negative 7)

        h2 Horizontal align        
        h3 .row.row-start (default)
        .row(class="demo")
          .col
            .row.row-start(class="color-0")
              .col-4(class="color-5") .col-4
              .col-2(class="color-4") .col-2
        h3 .row.row-end
        .row(class="demo")
          .col
            .row.row-end(class="color-0")
              .col-4(class="color-5") .col-4
              .col-2(class="color-4") .col-2
        h3 .row.row-center
        .row(class="demo")
          .col
            .row.row-center(class="color-0")
              .col-4(class="color-5") .col-4
              .col-2(class="color-4") .col-2
        h3 .row.row-sb
        .row(class="demo")
          .col
            .row.row-sb(class="color-0")
              .col-4(class="color-5") .col-4
              .col-2(class="color-4") .col-2
        h3 .row.row-sa
        .row(class="demo")
          .col
            .row.row-sa(class="color-0")
              .col-4(class="color-5") .col-4
              .col-2(class="color-4") .col-2

        h2 Vertical align
        h3 .row.row-va-stretch (default)
        .row(class="demo")
          .col
            .row.row-center.row-va-stretch(class="v-aligns color-0")
              .col-8(class="color-1") .col-8
              .col-8(class="color-2") .col-8
        h3 .row.row-va-top
        .row(class="demo")
          .col
            .row.row-center.row-va-top(class="v-aligns color-0")
              .col-8(class="color-1") .col-8
              .col-8(class="color-2") .col-8
        h3 .row.row-va-bottom
        .row(class="demo")
          .col
            .row.row-center.row-va-bottom(class="v-aligns color-0")
              .col-8(class="color-1") .col-8
              .col-8(class="color-2") .col-8
        h3 .row.row-va-center
        .row(class="demo")
          .col
            .row.row-center.row-va-center(class="v-aligns color-0")
              .col-8(class="color-1") .col-8
              .col-8(class="color-2") .col-8
        h3 .row.row-va-sb
        .row(class="demo")
          .col
            .row.row-center.row-va-sb(class="v-aligns color-0")
              .col-8(class="color-1") .col-8
              .col-8(class="color-2") .col-8
        h3 .row.row-va-sa
        .row(class="demo")
          .col
            .row.row-center.row-va-sa(class="v-aligns color-0")
              .col-8(class="color-1") .col-8
              .col-8(class="color-2") .col-8

        h2 Vertical stretch
        h3 .row.row-s-stretch (default)
        .row(class="demo")
          .col
            .row.row-center.row-s-stretch(class="v-aligns color-0")
              .col-2(style="min-height: 40px" class="color-0") height 40px
              .col-2(style="min-height: 140px" class="color-1") height 140px
              .col-2(style="min-height: 85px" class="color-2") height 85px
              .col-2(style="min-height: 70px" class="color-3") height 70px

        h3 .row.row-s-top
        .row(class="demo")
          .col
            .row.row-center.row-s-top(class="v-aligns color-0")
              .col-2(style="min-height: 40px" class="color-0") height 40px
              .col-2(style="min-height: 140px" class="color-1") height 140px
              .col-2(style="min-height: 85px" class="color-2") height 85px
              .col-2(style="min-height: 70px" class="color-3") height 70px

        h3 .row.row-s-bottom
        .row(class="demo")
          .col
            .row.row-center.row-s-bottom(class="v-aligns color-0")
              .col-2(style="min-height: 40px" class="color-0") height 40px
              .col-2(style="min-height: 140px" class="color-1") height 140px
              .col-2(style="min-height: 85px" class="color-2") height 85px
              .col-2(style="min-height: 70px" class="color-3") height 70px

        h3 .row.row-s-center
        .row(class="demo")
          .col
            .row.row-center.row-s-center(class="v-aligns color-0")
              .col-2(style="min-height: 40px" class="color-0") height 40px
              .col-2(style="min-height: 140px" class="color-1") height 140px
              .col-2(style="min-height: 85px" class="color-2") height 85px
              .col-2(style="min-height: 70px" class="color-3") height 70px

        h2 Elements direction
        h3 .row.row-normal (default)
        .row(class="demo")
          .col
            .row.row-normal(class="color-0")
              .col-3(class="color-5") I'm 1st
              .col-3(class="color-4") I'm 2nd
              .col-3(class="color-1") I'm 3th
        h3 .row.row-reverse
        .row(class="demo")
          .col
            .row.row-reverse(class="color-0")
              .col-3(class="color-5") I'm 1st
              .col-3(class="color-4") I'm 2nd
              .col-3(class="color-1") I'm 3th
        h3 .row.row-vertical
        .row(class="demo")
          .col
            .row.row-vertical
              .col-12(class="color-5") I'm 1st
              .col-12(class="color-4") I'm 2nd
              .col-12(class="color-1") I'm 3th
        h3 .row.row-vertical-reverse
        .row(class="demo")
          .col
            .row.row-vertical-reverse
              .col-12(class="color-5") I'm 1st
              .col-12(class="color-4") I'm 2nd
              .col-12(class="color-1") I'm 3th

        h2 Rows wrap
        h3 .row.row-wrap (default)
        .row(class="demo")
          .col
            .row.row-wrap(class="color-0")
              .col-6(class="color-0") I'm 1st (.col-6)
              .col-6(class="color-2") I'm 2nd (.col-6)
              .col-6(class="color-1") I'm 3th (.col-6)
        h3 .row.row-nowrap
        .row(class="demo")
          .col
            .row.row-nowrap(class="color-0")
              .col-6(class="color-0") I'm 1st (.col-6)
              .col-6(class="color-2") I'm 2nd (.col-6)
              .col-6(class="color-1") I'm 3th (.col-6)
        h3 .row.row-wrap-reverse
        .row(class="demo")
          .col
            .row.row-wrap-reverse(class="color-0")
              .col-6(class="color-0") I'm 1st (.col-6)
              .col-6(class="color-2") I'm 2nd (.col-6)
              .col-6(class="color-1") I'm 3th (.col-6)


        h2 Self ordering
        p By default supports order from -6 to 6
        .row(class="demo")
          .col
            .row
              .col-3.col-order-1(class="color-0") I'm 1st but .col-order-1
              .col-3.col-order-2(class="color-3") I'm 2nd but .col-order-2
              .col-3.col-order-0(class="color-4") I'm 3th but .col-order-0
              .col-3.col-order-n1(class="color-6") I'm 4th but .col-order-n1 (negative 1)

        h2 Self align
        .row(class="demo")
          .col
            .row.row-center(class="v-aligns color-0")
              .col-2.col-bottom(style="min-height: 40px" class="color-0")
                | .col-bottom
                br
                | height 40px
              .col-2(style="min-height: 140px")
                | height 140px
              .col-2.col-center(style="min-height: 85px" class="color-1")
                | .col-center
                br
                | height 85px
              .col-2.col-top(style="min-height: 70px" class="color-2")
                | .col-top
                br
                | height 70px
              .col-2.col-stretch(style="min-height: 50px" class="color-3")
                | .col-stretch
                br
                | height 50px

        h2 Basic responsive
        .row(class="demo")
          .col
            .row
              .col-lg-6(class="color-1") .col-lg-6
              .col-lg-6(class="color-1") .col-lg-6
            .row
              .col-md-4(class="color-3") .col-md-4
              .col-md-8(class="color-3") .col-md-8
            .row
              .col-8.col-md-3(class="color-4") .col-7.col-md-3
              .col-4.col-md-9(class="color-4") .col-5.col-md-9
            .row
              .col-4.col-md-8.col-lg-6(class="color-1") .col-4.col-md-8.col-lg-6
              .col-8.col-md-4.col-lg-6(class="color-1") .col-8.col-md-4.col-lg-6
            .row
              .col-grow-1.col-lg-2(class="color-6") .col-grow-1.col-lg-2
              .col-grow-1.col-lg-7(class="color-6") .col-grow-1.col-lg-7
              .col-grow-1.col-lg-3(class="color-6") .col-grow-1.col-lg-3
            .row
              .col-9.col-md-grow-1(class="color-5") .col-9.col-md-grow-1
              .col-3.col-md-grow-6(class="color-5") .col-3.col-md-grow-6

        h2 Offsets
        .row(class="demo")
          .col
            .row(class="color-0")
              .col-3.col-md-offset-1(class="color-1") .col-3.col-md-offset-1
              .col-3.col-lg-offset-5(class="color-2") .col-3.col-lg-offset-5

        h2 Responsive rows modifiers
        p You can use all modifier classes of rows and cols with responsive modifiers by add 'md' or 'lg' prefixes
        h3 .row.row-md-center.row-lg-end
        .row(class="demo")
          .col
            .row.row-md-center.row-lg-end(class="color-0")
              .col-8(class="color-5") I'm on the right only on big screens,
                | centered on middle size screens and on the left on small one

        h3 .row.row-va-bottom.row-md-va-center.row-lg-va-top
        .row(class="demo")
          .col
            .row.row-va-bottom.row-md-va-center.row-lg-va-top.row-center(class="v-aligns color-0")
              .col-8(class="color-1") We on the top on big screens, centered on
              .col-8(class="color-0") middle and on the bottom on small

        h3 .row.row-s-center.row-md-s-top.row-lg-s-stretch
        .row(class="demo")
          .col
            .row.row-center.row-s-center.row-md-s-bottom.row-lg-s-stretch(class="v-aligns color-0")
              .col-3(style="min-height: 40px" class="color-0") We stretch on big screens,
              .col-3(style="min-height: 140px" class="color-1") stick on bottom on middle screens
              .col-3(style="min-height: 85px" class="color-2")  and centered
              .col-3(style="min-height: 70px" class="color-3") on small

        h3 .row.row-md-vertical-reverse.row-lg-vertical
        .row(class="demo")
          .col
            .row.row-center.row-md-vertical-reverse.row-lg-vertical
              .col-12(class="color-4") We vertical on big & small screens
              .col-12(class="color-6") and reverse vertical on middle one

        h3 .row.row-wrap.row-md-nowrap
        .row(class="demo")
          .col
            .row.row-wrap.row-md-nowrap(class="color-0")
              .col-6(class="color-0") I'm 1st (.col-6)
              .col-6(class="color-2") I'm 2nd (.col-6)
              .col-6(class="color-1") I'm 3th (.col-6)

        h3 Responsive self ordering
        .row(class="demo")
          .col
            .row.row-center(class="color-0")
              .col-3.col-order-2.col-md-order-3.col-lg-order-1(class="color-1")
                | .col-order-2.
                br
                | .col-md-order-3
                br
                | .col-lg-order-1
              .col-3.col-order-3.col-md-order-1.col-lg-order-2(class="color-6")
                | .col-order-3
                br
                | .col-md-order-1
                br
                | .col-lg-order-2
              .col-3.col-order-1.col-md-order-2.col-lg-order-3(class="color-5")
                | .col-order-1
                br
                | .col-md-order-2
                br
                | .col-lg-order-3

        h3 Responsive self align
        .row(class="demo")
          .col
            .row.row-center(class="v-aligns color-0")
              .col-3.col-bottom.col-md-center.col-lg-top(class="color-3")
                | .col-bottom
                br
                | .col-md-center
                br
                | .col-lg-top
              .col-3.col-md-bottom .col-md-bottom
              .col-3.col-top.col-md-stretch.col-lg-bottom(class="color-2")
                | .col-top
                br
                | .col-md-stretch
                br
                | .col-lg-bottom

        h3 Responsive helpers
        .row(class="demo")
          .col
            .row
              .col-12.sm-hidden.md-hidden(class="color-0")
                | I'm visible only on large screens
                br
                | .sm-hidden.md-hidden
              .col-12.sm-hidden.lg-hidden(class="color-6")
                | I'm visible only on middle screens
                br
                | .sm-hidden.lg-hidden
              .col-12.md-hidden.lg-hidden(class="color-3")
                | I'm visible only on small screens
                br
                | .md-hidden.lg-hidden

        h2 3 Column layout example
        .row(class="demo col3-example")
          .col
            .row.row-vertical(class="layout-example")
              .col(class="color-5") Header
              .col
                .row
                  .col-12.col-md-3(class="color-6") Navigation
                  .col-12.col-grow-1(style="min-height: 140px" class="color-2") Article
                  .col-md-12.col-lg-3(class="color-1") Sidebar
              .col(class="color-3") Footer