doctype html
html
  head
    title Flexbox Based Grids
    link(href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400&subset=cyrillic,latin', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='styles.css', media='all')
    link(rel='stylesheet', type='text/css', href='flexbox-grid.css', media='all')
  body
    .row.row-center
      .col-md-9.col-11
        h1.header Flexbox Grid System

        h2 Percentage cols
        p By default you have 12 different sizing columns
        .row.demo.sm-margin
          - var n = 0
          while n++ < 12
            .col-1 .col-1
        .row.demo.sm-margin
          .col-12 .col-12
        .row.demo.sm-margin
          .col-6 .col-6
          .col-6 .col-6

        h2 Basic responsive
        .row.demo.sm-margin
          .col-lg-6 .col-lg-6
          .col-lg-6 .col-lg-6
        .row.demo.sm-margin
          .col-md-4.color-9 .col-md-4
          .col-md-8.color-9 .col-md-8
        .row.demo.sm-margin
          .col-8.col-md-3.color-4 .col-7.col-md-3
          .col-4.col-md-9.color-4 .col-5.col-md-9
        .row.demo.sm-margin
          .col-4.col-md-8.col-lg-6.color-2 .col-4.col-md-8.col-lg-6
          .col-8.col-md-4.col-lg-6.color-2 .col-8.col-md-4.col-lg-6

        h2 Horizontal align
        h3 .row.row-start (default)
        .row.demo.row-start.sm-margin.color-8
          .col-4 .col-4
          .col-2 .col-2
        h3 .row.row-end
        .row.demo.row-end.sm-margin.color-8
          .col-4 .col-4
          .col-2 .col-2
        h3 .row.row-center
        .row.demo.row-center.sm-margin.color-8
          .col-4 .col-4
          .col-2 .col-2
        h3 .row.row-sb
        .row.demo.row-sb.sm-margin.color-8
          .col-4 .col-4
          .col-2 .col-2
        h3 .row.row-sa
        .row.demo.row-sa.sm-margin.color-8
          .col-4 .col-4
          .col-2 .col-2

        h2 Vertical align
        .row
          .col-6
            h3 .row.row-va-stretch (default)
            .row.row-center.demo.row-va-stretch.sm-margin.color-9.v-aligns
              .col-8 .col-8
              .col-8 .col-8
          .col-6
            h3 .row.row-va-top
            .row.row-center.demo.row-va-top.sm-margin.color-9.v-aligns
              .col-8 .col-8
              .col-8 .col-8
          .col-6
            h3 .row.row-va-bottom
            .row.row-center.demo.row-va-bottom.sm-margin.color-9.v-aligns
              .col-8 .col-8
              .col-8 .col-8
            h3 .row.row-va-center
            .row.row-center.demo.row-va-center.sm-margin.color-9.v-aligns
              .col-8 .col-8
              .col-8 .col-8
          .col-6
            h3 .row.row-va-sb
            .row.row-center.demo.row-va-sb.sm-margin.color-9.v-aligns
              .col-8 .col-8
              .col-8 .col-8
            h3 .row.row-va-sa
            .row.row-center.demo.row-va-sa.sm-margin.color-9.v-aligns
              .col-8 .col-8
              .col-8 .col-8

        h2 Vertical stretch
        h3 .row.row-s-stretch (default)
        .row.row-center.demo.row-s-stretch.sm-margin.color-11.v-aligns
          .col-2.color-1(style="min-height: 40px") height 40px
          .col-2.color-8(style="min-height: 140px") height 140px
          .col-2.color-6(style="min-height: 85px") height 85px
          .col-2.color-7(style="min-height: 70px") height 70px
        h3 .row.row-s-top
        .row.row-center.demo.row-s-top.sm-margin.color-11.v-aligns
          .col-2.color-1(style="min-height: 40px") height 40px
          .col-2.color-8(style="min-height: 140px") height 140px
          .col-2.color-6(style="min-height: 85px") height 85px
          .col-2.color-7(style="min-height: 70px") height 70px
        h3 .row.row-s-bottom
        .row.row-center.demo.row-s-bottom.sm-margin.color-11.v-aligns
          .col-2.color-1(style="min-height: 40px") height 40px
          .col-2.color-8(style="min-height: 140px") height 140px
          .col-2.color-6(style="min-height: 85px") height 85px
          .col-2.color-7(style="min-height: 70px") height 70px
        h3 .row.row-s-center
        .row.row-center.demo.row-s-center.sm-margin.color-11.v-aligns
          .col-2.color-1(style="min-height: 40px") height 40px
          .col-2.color-8(style="min-height: 140px") height 140px
          .col-2.color-6(style="min-height: 85px") height 85px
          .col-2.color-7(style="min-height: 70px") height 70px

        h2 Elements direction
        h3 .row.row-normal (default)
        .row.demo.row-normal.sm-margin
          .col-3.color-3 I'm 1st
          .col-3.color-4 I'm 2nd
          .col-3.color-5 I'm 3th
        h3 .row.row-reverse
        .row.demo.row-reverse.sm-margin
          .col-3.color-3 I'm 1st
          .col-3.color-4 I'm 2nd
          .col-3.color-5 I'm 3th
        h3 .row.row-vertical
        .row.demo.row-vertical.sm-margin
          .col-12.color-3 I'm 1st
          .col-12.color-4 I'm 2nd
          .col-12.color-5 I'm 3th
        h3 .row.row-vertical-reverse
        .row.demo.row-vertical-reverse.sm-margin
          .col-12.color-3 I'm 1st
          .col-12.color-4 I'm 2nd
          .col-12.color-5 I'm 3th

        h2 Self ordering
        p By default supports order from -10 to 10
        .row.demo.sm-margin
          .col-3.color-3.col-order-1 I'm 1st but .col-order-1
          .col-3.color-4.col-order-2 I'm 2nd but .col-order-2
          .col-3.color-5.col-order-0 I'm 3th but .col-order-0
          .col-3.color-11.col-order-n1 I'm 4th but .col-order-n1 (negative 1)

        h2 Fixed and grow cols
        p By default you have 12 sizes for .col-grow (1 to 12)
        .row.demo.sm-margin
          .col-fixed.color-3(style="flex-basis: 200px") .col-fixed with flex-basis 200px
          .col-grow-1.color-4 .col-grow-1
          .col-fixed.color-11(style="flex-basis: 150px") .col-fixed with flex-basis 150px
          .col-1.color-12 .col-1

        .row.demo.sm-margin
          .col-12.col-md-3.color-9 .col-12.col-md-3
          .col-grow-3.color-6 .col-grow-3
          .col-grow-6.color-8 .col-grow-6
