doctype html
html
  head
    title Flexbox Based Grids
    link(href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400&subset=cyrillic,latin', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='styles.css', media='all')
    link(rel='stylesheet', type='text/css', href='flexbox-grid.css', media='all')
  body
    h1.header Flexbox Grid System
    .row.demo
      .col-1 1
      .col-2 2
      .col-3 3
      .col-4 4
      .col-2 final 2