/**
 * This file contains support styles for demo pages
 */
html,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
body {
  padding-bottom: 50px;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin-top: 35px;
}
.header {
  text-align: center;
  margin: 25px 0;
  font-size: 40px;
}
.row.demo {
  margin-top: 5px;
}
.row.demo.color-0 {
  background: #eceff1;
  border: 2px solid #a7b5be;
}
.row.demo > div {
  background: #90caf9;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #1976d2;
  min-height: 40px;
  line-height: 40px;
}
.row.demo > div.color-0 {
  background: #ffab91;
  border: 2px solid #ff5f2d;
}
.row.demo > div.color-1 {
  background: #bbdefb;
  border: 2px solid #54acf5;
}
.row.demo > div.color-2 {
  background: #f0f4c3;
  border: 2px solid #d9e366;
}
.row.demo > div.color-3 {
  background: #b39ddb;
  border: 2px solid #7e58c2;
}
.row.demo > div.color-4 {
  background: #b2ebf2;
  border: 2px solid #58d4e3;
}
.row.demo > div.color-5 {
  background: #ffe0b2;
  border: 2px solid #ffb446;
}
.row.demo > div.color-6 {
  background: #ffcdd2;
  border: 2px solid #ff5a6b;
}
.row.demo.v-aligns {
  height: 165px;
}
.sm-padding {
  padding: 5px;
}
