@require "nib"

// namespace for classes
$nc ?= ''

$cols_num = 12


basic_flex()
  display: flex
  justify-content: flex-start
  align-content: stretch
  align-items: stretch

.{$nc}row
  basic_flex()
  flex-direction: row



for $num in (1..$cols_num)
  .{$nc}col-{$num}
    flex-basis (100/$cols_num *$num )%;
    max-width (100/$cols_num *$num )%;